body {
	background: #eee;
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px;
	font-size: 20px;
}

h1 {
	font-size: 1.5em;
}

a {
	color: blue;
	text-decoration: none;
	display: block;
	margin-top: .5em;
}

.greenBG {
	background: rgb(0, 255, 0);
}

ul {
	color: royalblue;
}

#dogPic {
	width: 300px;
	height: 300px;
	border: 3px solid black;
}

#dogPic:hover {
	filter: sepia(50%);
}

td,th {
padding: 0 10px;
}
